/*import main font*/
@font-face {
font-family:'mainFont';
src: url('../../daftFont/ddaftt-l-webfont.eot');
src: url('../../daftFont/ddaftt-l-webfont.eot?#iefix') format('embedded-opentype'),
url('../../daftFont/ddaftt-l-webfont.woff') format('woff'),
url('../../daftFont/ddaftt-l-webfont.ttf') format('truetype'),
url('../../daftFont/ddaftt-l-webfont.svg#ddaftt-lowercaddafttlowercase') format('svg');
font-weight: normal;
font-style: normal;
}

/*====headers=====*/

h1.maintitle{
color: #ff9845;
font-family: 'mainFont';
font-size: 1.5em;
text-transform:uppercase;
margin-left: 0.5em;
}

h1.maintitle.inline{
float: left;
width: 50%;
margin-left: 2em;
}

h2{
font-size: 1em; 
margin-left: 0.7em;   
}

h3{
font-size: 0.9em;    
}

/*--- general ---*/

a:-webkit-any-link{
text-decoration: none;
}

ul#footerText li a{
color: #fff;
font-size: 0.7em;
}

p{
color: #3657a9;
}

p.emphasize{
font-weight: bold; 
font-size: 110%;   
}

p.centreAlign{
text-align: center;
margin:0;
padding: o;
}

p.heading{
font-weight: bold;
}

/*-- lists --- */

li.heading{
 font-weight: bold;
 margin-bottom: 10px;
    }

/*style hr for word folder list*/
  hr.carved {
  clear: both; 
  float: none; 
  width: 90%; 
  height: 2px;
  margin: 0.4em 0;
  border: none; 
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.5, rgb(221,221,221)),
      color-stop(0.5, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(221,221,221) 50%,
      rgb(255,255,255) 50%
  );
}

/*--- custom buttons and icons----*/
#bk_btn{
height: 40px;
background: none;
margin-top: -1px; 
}

#bk_btn.ui-btn-icon-notext{
left: 50%;
margin-left: -22px;
margin-top: -1px;  
}

#bk_btn.ui-btn-icon-notext:before, #bk_btn.ui-btn-icon-top:before, #bk_btn.ui-btn-icon-bottom:before {
margin-left: -22px;
margin-top: -1px;
}

#bk_btn.ui-btn-icon-notext:after, #bk_btn.ui-btn-icon-top:after, #bk_btn.ui-btn-icon-bottom:after {
left: 50%;
margin-left: -22px;
margin-top: -1px;
}

#logo.ui-icon-myapp-custom{
background: url("../images/logoForWeb.png") no-repeat transparent !important;
-moz-border-radius: 0px;
-webkit-border-radius:0px;
border-radius:0px;
box-shadow: none;
background-size: contain;
}

/*get rid of circle*/
#logo.ui-icon-myapp-custom:after {
background-color: transparent;
background-size: contain;
}


/*---customize nav buttons for different states----*/
#helpButton.ui-btn.ui-icon-myapp-custom-help-up{
background:  url("../images/buttons/help.png") no-repeat transparent !important;
background-size: contain;
}


#helpButton.ui-btn:hover.ui-icon-myapp-custom-help-up{
background:  url("../images/buttons/helpHover.png") no-repeat transparent !important;
background-size: contain;
}

#helpButton.ui-btn-active.ui-icon-myapp-custom-help-up{
background:  url("../images/buttons/helpActive.png") no-repeat transparent !important;
background-size: contain;
}


#searchButton.ui-btn.ui-icon-myapp-custom-search{
background:  url("../images/buttons/search.png") no-repeat transparent !important;
background-size: contain;
}
#searchButton.ui-btn:hover.ui-icon-myapp-custom-search{
background:  url("../images/buttons/searchHover.png") no-repeat transparent !important;
background-size: contain;
}

#searchButton.ui-btn-active.ui-icon-myapp-custom-search{
background:  url("../images/buttons/searchActive.png") no-repeat transparent !important;
background-size: contain;
}

#loginButton.ui-btn.ui-icon-myapp-custom-login{
background:  url("../images/buttons/login.png") no-repeat transparent !important;
background-size: contain;
/*background-size: cover;*/
}
#loginButton.ui-btn:hover.ui-icon-myapp-custom-login{
background:  url("../images/buttons/loginHover.png") no-repeat transparent !important;
background-size: contain;
}

#loginButton.ui-btn-active.ui-icon-myapp-custom-login{
background:  url("../images/buttons/loginActive.png") no-repeat transparent !important;
background-size: contain;
}

#loginButton.ui-btn.ui-icon-myapp-custom-logout{
background:  url("../images/buttons/logout.png") no-repeat transparent !important;
background-size: contain;
}
#loginButton.ui-btn:hover.ui-icon-myapp-custom-logout{
background:  url("../images/buttons/logoutHover.png") no-repeat transparent !important;
background-size: contain;
}

#loginButton.ui-btn-active.ui-icon-myapp-custom-logout{
background:  url("../images/buttons/logoutActive.png") no-repeat transparent !important;
background-size: contain;
}

/*get rid of grey circles in jquery mobile*/
#helpButton.ui-btn.ui-icon-myapp-custom-help-up:after, 
#helpButton.ui-btn:hover.ui-icon-myapp-custom-help-up:after,
#helpButton.ui-btn-active.ui-icon-myapp-custom-help-up:after,
#searchButton.ui-btn.ui-icon-myapp-custom-search:after,
#searchButton.ui-btn:hover.ui-icon-myapp-custom-search:after,
#searchButton.ui-btn-active.ui-icon-myapp-custom-search:after,
#loginButton.ui-btn.ui-icon-myapp-custom-login:after,
#loginButton.ui-btn:hover.ui-icon-myapp-custom-login:after,
#loginButton.ui-btn-active.ui-icon-myapp-custom-login:after,
#loginButton.ui-btn.ui-icon-myapp-custom-logout:after,
#loginButton.ui-btn:hover.ui-icon-myapp-custom-logout:after,
#loginButton.ui-btn-active.ui-icon-myapp-custom-logout:after

{
background-color: transparent;
}

/*==== audio button ====*/

.aboutBtn{
margin: 2em 0;
}

.audioBtn{
margin-left:80%;
margin-top: 5px;
height: 40px;
width: 50px;
background:  url("../images/buttons/audio.png") no-repeat 71% 40% !important;   
border: 0;

}

.audioBtn-inline{
float: right;
margin-right: 2.3em;
margin-top: 9px;
height: 40px;
width: 50px;
background:  url("../images/buttons/audio.png") no-repeat 71% 40% !important;   
border: 0;
}

.audioBtnPlatform{
margin-left:-2px;
/*padding: 0.5em;*/
height: 65px;
width: 90%;
background: url("../images/buttons/audio.png") no-repeat 40% 50% !important;
border: 0;
}

.audioButton{
width: 100%;
height: 35px;
background:  url("../images/buttons/audio.png") no-repeat 95% 0 !important;
background-position:40px 0;
}

.ui-page-theme-a .ui-btn-audio{
background:  url("../images/buttons/audio.png") no-repeat 95% 0 !important;	
}

.iconleft {
position: absolute;
top: 50%;
margin-top: -9px;
left: 5px;
width: 18px;
height: 18px;
background-repeat: no-repeat;
}

.iconleft {
width: auto;
}

.button-right a { float: right; } 
.center-wrapper { text-align: center; }
.center-wrapper * { margin: 0 auto; } 



/*-- make speech to convert to text invisible -- */
#testToSpeech{
display: none;
}

#testToSpeech2{
display: none;
}

#testToSpeech3{
display: none;
}

/*=== pop up === */

/* style pop up */
#aboutTextPopup {
border: 1px solid #ccc;
border-radius: 4px;
padding: 10px;
height: 400px; 
background-color: #ddfafc;
overflow:scroll;
position:relative;
}

/*pop up*/
.popUpdiv{
margin-left: 80%;
margin-bottom: 2em;


}

/*- resources container--*/
.resources{
padding: 1em;
height: 400px;
overflow: scroll;
}


/*--------- override jquery mobile css ---------*/
.ui-btn-icon-top:after {
top: 1em;
}

/*override spacing*/
.ui-btn{
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
text-shadow:none;
}

#main_nav a.ui-btn{
border: none;
margin-top: 2px;
webkit-box-shadow:none; 
-moz-box-shadow: none;
box-shadow: none;
}

.ui-field-contain .ui-controlgroup-controls{
}




/*****==================drag widgets for platfrom page and platform styles and themes================******/

.limitPlatform{
/*limit platform to 700px*/
max-width:700px;
margin: 0 auto;

}

#themeSelector{
width: 100%;
}

/*override the theme changing button*/
#themeSelector.ui-field-contain {
margin-top: -10px;
margin-left: -20px;
padding: 5px;
}

fieldset#themeSelector-mini{
width: 95%; 
margin: 0 auto;
	}

#themeSelector-mini .ui-mini {
font-size: 0.7em;
text-shadow:none;
}

.column {
width: 30%;
float: left;
background: none;
}

.column1{
padding-left: 7%;
}

.portlet {
margin: 0 1em 1.6em 0;
padding: 0 0 0 5px;
max-width: 120px;
background-size:100% 100%;
background-position: 0 2px;
background-repeat:no-repeat;
height: 90px;
border: none;
overflow:hidden;
}

.portlet-header {
padding: 0.1em 1.4em 0.2em 0.3em;
margin:0;
position: relative;
font-weight: normal;
font-size: 0.5em;
text-align: center;
background: url("../images/buttons/orangeBtn.png") no-repeat;
background-size:100% 100%;
border:none;
color: white;
text-shadow:none;
}

.portlet-toggle {
position: absolute;
top: 50%;
right: 0;
margin-top: -8px;
}

.portlet-content {
padding: 0.1em;
background-color: #fff;
background-repeat:no-repeat;
height: 70px;
}

.portlet-content.changeTheme {
padding-left: 0%;
margin-left: -5px;
margin-right: 5px;
padding-top: 10px;
background-repeat:no-repeat;
height: 70px;
}

.portlet-content label{
text-align: right;
color: #000;
}

#themeSelector-mini label.themeRadio{
text-align: right;
color: #000;
    }

.portlet-placeholder {
margin: 0 1em 1em 0;
height: 70px;
}

#themeSelector{
}

/*override the theme changing button*/
#themeSelector.ui-field-contain {
margin-top: -10px;
margin-left: 0px;
padding: 5px;
width: 100%;
}


#themeSelector-mini .ui-mini {
font-size: 0.7em;
text-shadow:none;
}

/*========= forms ==============*/

label.error { 
float: left; 
color: red; 
padding-top: .5em; 
vertical-align: top; 
font-weight:bold
}

.errorMessage{
color: red;  
}

.login_form{
}

.login_form input{
color: #000;

}
.login_form table {
width: 100%;
}

.login_form table td{
}


.logErrors{
color: red;
}

ul.contactForm li{
list-style-type: none;
}

#newPostForm label{
font-weight: bold;
color: #3091b4;
margin: 0.6em 0;
padding-bottom: 0.3em;
}

#newPostForm input[type=text] {
margin-bottom: 20px;
}

input[type="image"]{
border:3px solid orange;
border-radius: 5px;
-webkit-box-shadow: 2px 2px 6px 0px rgba(255, 194, 132, 0.75);
-moz-box-shadow:    2px 2px 6px 0px rgba(255, 194, 132, 0.75);
box-shadow:         2px 2px 6px 0px rgba(255, 194, 132, 0.75);
} 

#newPostForm input[type=text]{
display: inline-block;
margin-bottom:1em;
}

#btns{
width: 60px;
margin: 0 auto;
}

#videoPopup{
padding-bottom: 80px;
}
.game{
width:300px;
margin: 0 auto;
}
.game img{
margin: 0 auto;
width: 100%;
}

ul.problemWords{
color: #ff313f;
}

/*=== swipe slides ===*/

#slidecontainer{
background: #000;
padding: 0;
margin: 0 auto;
width: 100%;
}

.slidesPage{
background: #000;    
}
.slideView{
width: 300px;
background-color: #000;
padding: 0;
margin: 0 auto;
}


.ui-listview>li.slidesList{
width: 50%;
float: left;
display: inline-block;
}


/*gameImages page image container*/
.databaseScroll{
width: 300px;
margin: 0 auto;
height: 200px;
overflow: scroll;
border: 2px solid black;
}

.databaseScroll img{
}


/* ======= digital clock  and calendar =========== */
@font-face {
font-family: 'BebasNeueRegular';
src: url('BebasNeue-webfont.eot');
src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
url('BebasNeue-webfont.woff') format('woff'),
url('BebasNeue-webfont.ttf') format('truetype'),
url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
font-weight: normal;
font-style: normal;

}


.clock {width:80%; margin:0 auto; padding:0px; border:0px solid #333; color:#000;background-color: #ff8729; }

#Date { font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; font-size:12px; text-align:center; text-shadow:0 0 5px #00c6ff; }
ul#clock { width:100%; margin:0 auto; padding:0px; list-style:none; text-align:center; background-color: #fff;}
ul#clock li { display:inline; font-size:0.6em; text-align:center; font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; text-shadow:0 0 4px #00c6ff; }

#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding-left:2px; padding-right:2px; }

@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}


@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

/*-------learning style explanation pages-----*/
.vakImages{
 width: 300px;
 margin: 0 auto;
 padding: 0;
}

.vakImages img{
border: 3px solid #ff9845;
margin-left: -30px;
}

.vakImages figcaption{
color: #000;
font-weight: bold;
margin-left: -30px;
width: 120%;
}

.vakImages figcaption:first-letter{
font-size: 1em;
color: #ff9845;
}

/*====helper classes====*/
.lessenMargin{
margin: 0.2em 0.3em;
}

.centreText{
text-align: center;
}

h1.leftAlign{
text-align:left;
}

.clear{
clear: both;   
}

.emphasize{
color: #ff9845;
}

.emphasizeLarge{
color: #ff9845;
font-size:2em;
}

.vakQuestion{
color: #000;
font-size:1em;
font-weight: bold;  
}
.extraMargin{
margin-top: 10px;
margin-bottom: 10px;
}










