html {
font-size: 100%;
}

body,
input,
select,
textarea,
button,
.ui-btn {
	font-size: 1em;
	line-height: 1.3;
	font-family: sans-serif;
	color: #3091b4;
}


li{
	list-style-type: none;
}

ul.difficultyNumbers{
    width: 90%;
	margin: -20px 0 0 -25px;
	padding:0 0 10px 30px;
}

ul.difficultyNumbers li{
	width: 15%;
	margin: 0;
	padding: 0;
	display: inline-block;	
}

a:link {
text-decoration: none;
}

/* ----- main sections ----- */

.page_wrapper{
	margin: 0 auto;
	width: 105%;
	background: background: rgb(216,236,249); /* Old browsers */ background: -moz-linear-gradient(top, rgba(216,236,249,1) 0%, rgba(153,181,218,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,236,249,1)), color-stop(100%,rgba(153,181,218,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(216,236,249,1) 0%,rgba(153,181,218,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(216,236,249,1) 0%,rgba(153,181,218,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(216,236,249,1) 0%,rgba(153,181,218,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(216,236,249,1) 0%,rgba(153,181,218,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8ecf9', endColorstr='#99b5da',GradientType=0 ); /* IE6-9 */ /*{a-page-background-color}*/;
	margin-left: -10px;
	padding-bottom:0.1em;
}

.page_container{
	margin: 15px auto 5px;
	width: 85%;
	background-color: #e9f3fc;
	text-shadow:1 ;
	border-radius: 1em;
	border: 2px solid orange;
	padding: 0.5em;
}

.page_container ul li{
	margin:1% 20px 1% -20px;
    height: 35px;
	padding-left: 0.6em;
	padding-top: 0.5em;
}

.page_container ul li.wordFolderLinks{
	background:#57b4df;
	color: #fff;
	border-bottom: 1px solid orange;
	border-radius: 2px;
	width: 95%;
	font-family: mainFont;
}

.heading{
	background-color:#e9f3fc;
	padding: 0.5em;
	border: 2px solid orange;
	margin-top: -10px;

}
.footer{
	background-color:#e9f3fc;
	padding: 0.5em;
	width: 100%;
	border: 2px solid orange;
	margin-top: -10px;
	clear: both;
	height: 60px;
}

.footer ul{
	margin-left: -40px;
	margin-top: 0;
}



/*==== form elements =====*/

legend,
.ui-input-text input,
.ui-input-search input {
	color: inherit;
	text-shadow: inherit;
}
/* Form labels (overrides font-weight bold in bars, and mini font-size) */
.ui-mobile label,
div.ui-controlgroup-label {
	font-weight: normal;
	font-size: 0.7em;
}
label {
	display: block;
	margin: 0 0 10px 3%;
	color: #3091b4;
	font-size: 1em;
}

input {
	-webkit-border-radius: .6em /*{global-radii-blocks}*/;
	border-radius: .6em /*{global-radii-blocks}*/;
	width:90%;
	font-size:1em;
	padding:0.2em;
	margin:0 0 10px 3%;
	border:2px solid orange;

}

input[type="radio"]{
	display: inline;
	width: 17%;
	float: left;
}


/* ---- tables ------ */

table{
	width: 95%;
	margin: 2%;
}
table td{
	font-size: 0.5em;
}
/* Field contain separator (< 28em) */
.ui-field-contain {
	border-bottom-color: #828282;
	border-bottom-color: rgba(0,0,0,.15);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
/* Table opt-in classes: strokes between each row, and alternating row stripes */
/* Classes table-stroke and table-stripe are deprecated in 1.4. */
.table-stroke thead th,
.table-stripe thead th,
.table-stripe tbody tr:last-child {
	border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.table-stroke tbody th,
.table-stroke tbody td {
	border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
	border-bottom: 1px solid rgba(0,0,0,.05);
}
.table-stripe.table-stroke tbody tr:last-child th,
.table-stripe.table-stroke tbody tr:last-child td {
	border-bottom: 0;
}
.table-stripe tbody tr:nth-child(odd) td,
.table-stripe tbody tr:nth-child(odd) th {
	background-color: #eeeeee; /* non-RGBA fallback  */
	background-color: rgba(0,0,0,.04);
}


/* Corner rounding
-----------------------------------------------------------------------------------------------------------*/
/* Class ui-btn-corner-all deprecated in 1.4 */
.ui-corner-all {
	-webkit-border-radius: .6em /*{global-radii-blocks}*/;
	border-radius: .6em /*{global-radii-blocks}*/;
}
/* Buttons */
.ui-btn-corner-all,
.ui-btn.ui-corner-all,
/* Slider track */
.ui-slider-track.ui-corner-all,
/* Flipswitch */
.ui-flipswitch.ui-corner-all,
/* Count bubble */
.ui-li-count {
	-webkit-border-radius: .3125em /*{global-radii-buttons}*/;
	border-radius: .3125em /*{global-radii-buttons}*/;
}
/* Icon-only buttons */
.ui-btn-icon-notext.ui-btn-corner-all,
.ui-btn-icon-notext.ui-corner-all {
	-webkit-border-radius: 1em;
	border-radius: 1em;
}
/* Radius clip workaround for cleaning up corner trapping */
.ui-btn-corner-all,
.ui-corner-all {
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
/* Popup arrow */
.ui-popup.ui-corner-all > .ui-popup-arrow-guide {
	left: .6em /*{global-radii-blocks}*/;
	right: .6em /*{global-radii-blocks}*/;
	top: .6em /*{global-radii-blocks}*/;
	bottom: .6em /*{global-radii-blocks}*/;
}
/* Shadow
-----------------------------------------------------------------------------------------------------------*/
.ui-shadow {
	-webkit-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
	-moz-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
	box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
}
.ui-shadow-inset {
	-webkit-box-shadow: inset 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
	-moz-box-shadow: inset 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
	box-shadow: inset 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
}
.ui-overlay-shadow {
	-webkit-box-shadow: 0 0 12px 		rgba(0,0,0,.6);
	-moz-box-shadow: 0 0 12px 			rgba(0,0,0,.6);
	box-shadow: 0 0 12px 				rgba(0,0,0,.6);
}
/* Icons
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
	background-color: #666666 /*{global-icon-color}*/;
	background-color: rgba(0,0,0,.3) /*{global-icon-disc}*/;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}
/* Alt icons */
.ui-alt-icon.ui-btn:after,
.ui-alt-icon .ui-btn:after,
html .ui-alt-icon.ui-checkbox-off:after,
html .ui-alt-icon.ui-radio-off:after,
html .ui-alt-icon .ui-checkbox-off:after,
html .ui-alt-icon .ui-radio-off:after {
	background-color: #666666 /*{global-icon-color}*/;
	background-color: 					rgba(0,0,0,.15);
}
/* No disc */
.ui-nodisc-icon.ui-btn:after,
.ui-nodisc-icon .ui-btn:after {
	background-color: transparent;
}
/* Icon shadow */
.ui-shadow-icon.ui-btn:after,
.ui-shadow-icon .ui-btn:after {
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3) /*{global-icon-shadow}*/;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.3) /*{global-icon-shadow}*/;
	box-shadow: 0 1px 0 rgba(255,255,255,.3) /*{global-icon-shadow}*/;
}
/* Checkbox and radio */
.ui-btn.ui-checkbox-off:after,
.ui-btn.ui-checkbox-on:after,
.ui-btn.ui-radio-off:after,
.ui-btn.ui-radio-on:after {
	display: block;
	width: 18px;
	height: 18px;
	margin: -9px 2px 0 2px;
}
.ui-checkbox-off:after,
.ui-btn.ui-radio-off:after {
	filter: Alpha(Opacity=30);
	opacity: .3;
}
.ui-btn.ui-checkbox-off:after,
.ui-btn.ui-checkbox-on:after {
	-webkit-border-radius: .1875em;
	border-radius: .1875em;
}
.ui-radio .ui-btn.ui-radio-on:after {
	background-image: none;
	background-color: #fff;
	width: 8px;
	height: 8px;
	border-width: 5px;
	border-style: solid; 
}
.ui-alt-icon.ui-btn.ui-radio-on:after,
.ui-alt-icon .ui-btn.ui-radio-on:after {
	background-color: #000;
}
/* Loader */
.ui-icon-loading {
	background: url(images/ajax-loader.gif);
	background-size: 2.875em 2.875em;
}


-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
	background: #f4fbfe;
	padding:5px 0;
	border-color: #ff9845 /*{a-bar-border}*/;
	color: #248aaf /*{a-bar-color}*/;
	text-shadow: 1 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #eeeeee /*{a-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-a {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
	background: background: rgb(216,236,249); /* Old browsers */ background: -moz-linear-gradient(top, rgba(216,236,249,1) 0%, rgba(153,181,218,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,236,249,1)), color-stop(100%,rgba(153,181,218,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(216,236,249,1) 0%,rgba(153,181,218,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(216,236,249,1) 0%,rgba(153,181,218,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(216,236,249,1) 0%,rgba(153,181,218,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(216,236,249,1) 0%,rgba(153,181,218,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8ecf9', endColorstr='#99b5da',GradientType=0 ); /* IE6-9 */ /*{a-page-background-color}*/;
	border-color: #63a6c4 /*{a-page-border}*/;
	color: #000000 /*{a-page-color}*/;
	text-shadow: 0 /*{a-page-shadow-x}*/ 1px /*{a-page-shadow-y}*/ 0 /*{a-page-shadow-radius}*/ #eeeeee /*{a-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a {
	background: #eef5f9 /*{a-body-background-color}*/;
	border-color: #ff9845 /*{a-body-border}*/;
	color: #3091b4  /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #f3f3f3 /*{a-body-shadow-color}*/;
}
.ui-body-a {
	border-width: 1px;
	border-style: solid;
}
/*style the header*/
.ui-header, .ui-footer{

	color: #000;
}

/* Links */
.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
	color: #3388cc /*{a-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-a a:visited,
html .ui-bar-a a:visited,
html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited {
	color: #83afd2 /*{a-link-visited}*/;
}
.ui-page-theme-a a:hover,
html .ui-bar-a a:hover,
html .ui-body-a a:hover,
html body .ui-group-theme-a a:hover {
	color: #ff9845 /*{a-link-hover}*/;
}
.ui-page-theme-a a:active,
html .ui-bar-a a:active,
html .ui-body-a a:active,
html body .ui-group-theme-a a:active {
	color: #005599 /*{a-link-active}*/;
}

/*================ customize A Theme BUTTONS here ============================*/
/*========for pages without jquery style sheet=========*/

.ui-btn,
label.ui-btn {
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
}
.ui-btn:link {
	text-decoration: none !important;
}
.ui-btn-active {
	cursor: pointer;
}

.myButton-a {
	background: url("../images/justButtonGreen.png") no-repeat;
	border: none;
	background-size: 100% 100%;
	-webkit-box-shadow: -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
	-moz-box-shadow:    -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
	box-shadow:         -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
	color: #fff;
	text-shadow: 0;
	width: 95%;
	margin-bottom: 0.6em;
	padding-left: 0.8em;


}

.myButton-a:hover {
	background: url("../images/buttons/GreenBtnHover.png");
	background-size: 100% 100%;
	-webkit-box-shadow: -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
	-moz-box-shadow:    -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
	box-shadow:         -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
	border: none;
	color: #fff;
	text-shadow: 0;
}

.myButton-a:active{
	background: url("../images/buttons/GreenBtnHover.png");
	background-size: 100% 100%;
	-webkit-box-shadow: -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
	-moz-box-shadow:    -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
	box-shadow:         -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
	border: none;
	color: #fff;
	text-shadow: 0;

}

.myButton-a-inline {
	background: url("../images/justButtonGreen.png") no-repeat;
	float: left;
	border: none;
	background-size: 100% 100%;
	-webkit-box-shadow: -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
	-moz-box-shadow:    -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
	box-shadow:         -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
	color: #fff;
	text-shadow: 0;
	width:28%;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 5px;
	font-size: 0.7em;
	padding-left: 2%;
	padding-top: 0.4em;
	height: 25px;
}

.myButton-a-inlineClear{
	background: url("../images/orangeBtn.png") no-repeat;
	display: inline-block;
	border: none;
	background-size: 100% 100%;
	-webkit-box-shadow: -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
	-moz-box-shadow:    -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
	box-shadow:         -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
	color: #fff;
	text-shadow: 0;
	width:28%;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 5px;
	font-size: 0.6em;
	padding-left: 2%;
	clear:both;

}


.myButton-a-inline:hover {
	background: url("../images/buttons/GreenBtnHover.png");
	background-size: 100% 100%;
	-webkit-box-shadow: -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
	-moz-box-shadow:    -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
	box-shadow:         -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
	border: none;
	color: #fff;
	text-shadow: 0;
	width:28%;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 5px;
	font-size: 0.7em;
	padding-left: 2%;
}

.myButton-a-inline:active {
	background: url("../images/buttons/GreenBtnHover.png");
	background-size: 100% 100%;
	-webkit-box-shadow: -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
	-moz-box-shadow:    -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
	box-shadow:         -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
	border: none;
	color: #fff;
	text-shadow: 0;
	width:28%;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 5px;
	font-size: 0.7em;
	padding-left: 2%;
}

ul li.myButton-a-inlineClear-addImage{
	background: url("../images/buttons/orangeBtn.png") no-repeat;
	display: inline-block;
	border: none;
	background-size: 100% 100%;
	-webkit-box-shadow: -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
	-moz-box-shadow:    -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
	box-shadow:         -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
	color: #fff;
	text-shadow: 0;
	width:40%;
	height: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	/*margin-right: 5px;*/
	margin-left:4em;
	font-size: 0.6em;
	padding: 0.5%;
	clear:both;

}

/*-----  style add image buttons -----*/

ul li.myButton-a-inlineClear-addImage{
	margin-left:0.4em;
}

ul li.myButton-a-inlineClear-addImage a{
	color: #fff;
	width: 10%;
}


/* Button up */
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
/* Button visited */
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,

html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
	background: url("../images/justButtonGreen.png") no-repeat;
	border: none;
	background-size: 100% 100%;
	-webkit-box-shadow: -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
	-moz-box-shadow:    -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
	box-shadow:         -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
	color: #fff;
	text-shadow: 0;
}
/* Button hover */
.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head + body .ui-btn.ui-btn-a:hover {
	/*background: #1cce99*/ /*{a-bhover-background-color}*/;
	background: url("../images/buttons/GreenBtnHover.png");
	background-size: 100% 100%;
	-webkit-box-shadow: -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
	-moz-box-shadow:    -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
	box-shadow:         -6px -4px 5px 0px rgba(255, 255, 255, 0.75);

	border: none;
	color: #fff;
	text-shadow: 0;
}
/* Button down */
.ui-page-theme-a .ui-btn:active,
html .ui-bar-a .ui-btn:active,
html .ui-body-a .ui-btn:active,
html body .ui-group-theme-a .ui-btn:active,
html head + body .ui-btn.ui-btn-a:active {
	/*background: #f85993 /*{a-bdown-background-color}*/;
	background: url("../images/buttons/GreenBtnHover.png");
	background-size: 100% 100%;
	border: none;
	color: #000; 
	text-shadow: none;
}

/* Active button */
.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
/* Active flipswitch background */
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
	background-color: #1cce99 /*{a-active-background-color}*/;
	border-color: #ff9845 /*{a-active-border}*/;
	color: #ffffff /*{a-active-color}*/;
	text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #005599 /*{a-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-a .ui-radio-on:after,
html .ui-bar-a .ui-radio-on:after,
html .ui-body-a .ui-radio-on:after,
html body .ui-group-theme-a .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-a:after {
	border-color: #1cce99 /*{a-active-background-color}*/;
}
/* Focus */
.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head + body .ui-btn.ui-btn-a:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head + body .ui-btn-a.ui-focus,
html head + body .ui-body-a.ui-focus {
	-webkit-box-shadow: 0 0 12px #1cce99 /*{a-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #1cce99 /*{a-active-background-color}*/;
	box-shadow: 0 0 12px #1cce99 /*{a-active-background-color}*/;
}


/*---------------------My extra classes and ID's for styling----------------------*/
.bolder{
	font-weight: bold;
}
.logErrors{
	color: blue;
	font-size: 1em;
	font-family: myMainFont;
}

.emailflashdata{
	color: blue;
	font-size: 1em;
	font-family: myMainFont;
	letter-spacing: 3px;
}

.addArticle{
	font-size: 1.6em;
	display: inline-block;;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#successMessage{
	background: none;
	padding: 10px;
}


.imageSuccess{
	color: green;
}

#infoMessage{
	color:#ff2200;
}

.errorForm{
	color:#ff2200;
	font-size: 0.4em;
	margin-left: 3%;
}

.errorLarge{
	color:#ff2200;
	font-size: 0.8em;
	margin-left: 3%;
}

ul li#note{
	color:orange;
	font-size: 0.6em;
	padding-left:1em;
	
}

.inline{
	display: inline-block;
	margin-bottom: 20px;
	color: green;
}

#userIdreference{
	display: inline-block;
	margin-bottom: 20px;
	color: green;

}




