/*-----  my customized css style sheet with my extra stylings ----------- */
html {
	font-size: 100%;
}
body,
input,
select,
textarea,
button,
.ui-btn {
	font-size: 1em;
	line-height: 1.3;
	 font-family: sans-serif /*{global-font-family}*/;
}
legend,
.ui-input-text input,
.ui-input-search input {
	color: inherit;
	text-shadow: inherit;
}
/* Form labels (overrides font-weight bold in bars, and mini font-size) */
.ui-mobile label,
div.ui-controlgroup-label {
	font-weight: normal;
	font-size: 16px;
}

/* Separators
-----------------------------------------------------------------------------------------------------------*/
/* Field contain separator (< 28em) */
.ui-field-contain {
	border-bottom-color: #828282;
	border-bottom-color: rgba(0,0,0,.15);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
/* Table opt-in classes: strokes between each row, and alternating row stripes */
/* Classes table-stroke and table-stripe are deprecated in 1.4. */
.table-stroke thead th,
.table-stripe thead th,
.table-stripe tbody tr:last-child {
	border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.table-stroke tbody th,
.table-stroke tbody td {
	border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
	border-bottom: 1px solid rgba(0,0,0,.05);
}
.table-stripe.table-stroke tbody tr:last-child th,
.table-stripe.table-stroke tbody tr:last-child td {
	border-bottom: 0;
}
.table-stripe tbody tr:nth-child(odd) td,
.table-stripe tbody tr:nth-child(odd) th {
	background-color: #eeeeee; /* non-RGBA fallback  */
	background-color: rgba(0,0,0,.04);
}
/* Buttons
-----------------------------------------------------------------------------------------------------------*/
.ui-btn,
label.ui-btn {
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
}
.ui-btn:link {
	text-decoration: none !important;
}
.ui-btn-active {
	cursor: pointer;
}
/* Corner rounding
-----------------------------------------------------------------------------------------------------------*/
/* Class ui-btn-corner-all deprecated in 1.4 */
.ui-corner-all {
	-webkit-border-radius: .6em /*{global-radii-blocks}*/;
	border-radius: .6em /*{global-radii-blocks}*/;
}
/* Buttons */
.ui-btn-corner-all,
.ui-btn.ui-corner-all,
/* Slider track */
.ui-slider-track.ui-corner-all,
/* Flipswitch */
.ui-flipswitch.ui-corner-all,
/* Count bubble */
.ui-li-count {
	-webkit-border-radius: .3125em /*{global-radii-buttons}*/;
	border-radius: .3125em /*{global-radii-buttons}*/;
}
/* Icon-only buttons */
.ui-btn-icon-notext.ui-btn-corner-all,
.ui-btn-icon-notext.ui-corner-all {
	-webkit-border-radius: 1em;
	border-radius: 1em;
}
/* Radius clip workaround for cleaning up corner trapping */
.ui-btn-corner-all,
.ui-corner-all {
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
/* Popup arrow */
.ui-popup.ui-corner-all > .ui-popup-arrow-guide {
	left: .6em /*{global-radii-blocks}*/;
	right: .6em /*{global-radii-blocks}*/;
	top: .6em /*{global-radii-blocks}*/;
	bottom: .6em /*{global-radii-blocks}*/;
}
/* Shadow
-----------------------------------------------------------------------------------------------------------*/
.ui-shadow {
	-webkit-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
	-moz-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
	box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
}
.ui-shadow-inset {
	-webkit-box-shadow: inset 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
	-moz-box-shadow: inset 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
	box-shadow: inset 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
}
.ui-overlay-shadow {
	-webkit-box-shadow: 0 0 12px 		rgba(0,0,0,.6);
	-moz-box-shadow: 0 0 12px 			rgba(0,0,0,.6);
	box-shadow: 0 0 12px 				rgba(0,0,0,.6);
}
/* Icons
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
	background-color: #666666 /*{global-icon-color}*/;
	background-color: rgba(0,0,0,.3) /*{global-icon-disc}*/;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}
/* Alt icons */
.ui-alt-icon.ui-btn:after,
.ui-alt-icon .ui-btn:after,
html .ui-alt-icon.ui-checkbox-off:after,
html .ui-alt-icon.ui-radio-off:after,
html .ui-alt-icon .ui-checkbox-off:after,
html .ui-alt-icon .ui-radio-off:after {
	background-color: #666666 /*{global-icon-color}*/;
	background-color: 					rgba(0,0,0,.15);
}
/* No disc */
.ui-nodisc-icon.ui-btn:after,
.ui-nodisc-icon .ui-btn:after {
	background-color: transparent;
}
/* Icon shadow */
.ui-shadow-icon.ui-btn:after,
.ui-shadow-icon .ui-btn:after {
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3) /*{global-icon-shadow}*/;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.3) /*{global-icon-shadow}*/;
	box-shadow: 0 1px 0 rgba(255,255,255,.3) /*{global-icon-shadow}*/;
}
/* Checkbox and radio */
.ui-btn.ui-checkbox-off:after,
.ui-btn.ui-checkbox-on:after,
.ui-btn.ui-radio-off:after,
.ui-btn.ui-radio-on:after {
	display: block;
	width: 18px;
	height: 18px;
	margin: -9px 2px 0 2px;
}
.ui-checkbox-off:after,
.ui-btn.ui-radio-off:after {
	filter: Alpha(Opacity=30);
	opacity: .3;
}
.ui-btn.ui-checkbox-off:after,
.ui-btn.ui-checkbox-on:after {
	-webkit-border-radius: .1875em;
	border-radius: .1875em;
}
.ui-radio .ui-btn.ui-radio-on:after {
	background-image: none;
	background-color: #fff;
	width: 8px;
	height: 8px;
	border-width: 5px;
	border-style: solid; 
}
.ui-alt-icon.ui-btn.ui-radio-on:after,
.ui-alt-icon .ui-btn.ui-radio-on:after {
	background-color: #000;
}
/* Loader */
.ui-icon-loading {
	background: url(images/ajax-loader.gif);
	background-size: 2.875em 2.875em;
}

/* Swatches */
/* =========== A  ================= */
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
	background: #f4fbfe;
	padding:5px 0;
	border-color: #ff9845 /*{a-bar-border}*/;
	color: #248aaf /*{a-bar-color}*/;
	text-shadow: 1 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #eeeeee /*{a-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-a {
	border-width: 1px;
	border-style: solid;
}
/*style the header*/
html body .ui-header, .ui-footer{
border-bottom: 1px solid #f1750c;
background-color: #f4fbfe;
color: #248aaf;


}
/* Page and overlay */
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
	background: background: rgb(216,236,249); /* Old browsers */ background: -moz-linear-gradient(top, rgba(216,236,249,1) 0%, rgba(153,181,218,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,236,249,1)), color-stop(100%,rgba(153,181,218,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(216,236,249,1) 0%,rgba(153,181,218,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(216,236,249,1) 0%,rgba(153,181,218,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(216,236,249,1) 0%,rgba(153,181,218,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(216,236,249,1) 0%,rgba(153,181,218,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8ecf9', endColorstr='#99b5da',GradientType=0 ); /* IE6-9 */ /*{a-page-background-color}*/;
	border-color: #63a6c4 /*{a-page-border}*/;
	color: #000000 /*{a-page-color}*/;
	text-shadow: 0 /*{a-page-shadow-x}*/ 1px /*{a-page-shadow-y}*/ 0 /*{a-page-shadow-radius}*/ #eeeeee /*{a-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a {
	/*inside plaform*/
	background: #eef5f9 /*{a-body-background-color}*/;
	border-color: #ff9845 /*{a-body-border}*/;
	color: #3091b4 /*{a-body-color}*/;
	
}
.ui-body-a {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
	color: #3388cc /*{a-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-a a:visited,
html .ui-bar-a a:visited,
html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited {
    color: #83afd2 /*{a-link-visited}*/;
}
.ui-page-theme-a a:hover,
html .ui-bar-a a:hover,
html .ui-body-a a:hover,
html body .ui-group-theme-a a:hover {
	color: #ff9845 /*{a-link-hover}*/;
	/*#ff9845 */
}
.ui-page-theme-a a:active,
html .ui-bar-a a:active,
html .ui-body-a a:active,
html body .ui-group-theme-a a:active {
	color: #005599 /*{a-link-active}*/;
}

/*================ customize 'A' theme BUTTONS ============================*/

/* Button up */
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
/* Button visited */
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
	background: url("../images/justButtonGreen.png") no-repeat;
	border: none;
	background-size: 100% 100%;
	-webkit-box-shadow: -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
    -moz-box-shadow:    -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
    box-shadow:         -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
	color: #fff;
	text-shadow: 0;
	font-size: 0.8em;
}
/* Button hover */
.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head + body .ui-btn.ui-btn-a:hover {
	/*background: #1cce99*/ /*{a-bhover-background-color}*/;
		background: url("../images/buttons/GreenBtnHover.png");
		background-size: 100% 100%;
		-webkit-box-shadow: -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
-moz-box-shadow:    -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
box-shadow:         -6px -4px 5px 0px rgba(255, 255, 255, 0.75);

border: none;
	color: #fff;
	text-shadow: 0;
}
/* Button down */
.ui-page-theme-a .ui-btn:active,
html .ui-bar-a .ui-btn:active,
html .ui-body-a .ui-btn:active,
html body .ui-group-theme-a .ui-btn:active,
html head + body .ui-btn.ui-btn-a:active {
	/*background: #f85993 /*{a-bdown-background-color}*/;
	background: url("../images/buttons/GreenBtnHover.png");
		background-size: 100% 100%;
	border: none;
	color: #000; 
	text-shadow: none;
}

/* Active button */
.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
/* Active flipswitch background */
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
	background-color: #1cce99 /*{a-active-background-color}*/;
	border-color: #ff9845 /*{a-active-border}*/;
	color: #ffffff /*{a-active-color}*/;
	text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #005599 /*{a-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-a .ui-radio-on:after,
html .ui-bar-a .ui-radio-on:after,
html .ui-body-a .ui-radio-on:after,
html body .ui-group-theme-a .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-a:after {
	border-color: #1cce99 /*{a-active-background-color}*/;
}
/* Focus */
.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head + body .ui-btn.ui-btn-a:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head + body .ui-btn-a.ui-focus,
html head + body .ui-body-a.ui-focus {
	-webkit-box-shadow: 0 0 12px #1cce99 /*{a-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #1cce99 /*{a-active-background-color}*/;
	box-shadow: 0 0 12px #1cce99 /*{a-active-background-color}*/;
}


/* B  ----------theme B--------------- B ----------------------------B -------------theme B------------
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-b,
.ui-page-theme-b .ui-bar-inherit,
html .ui-bar-b .ui-bar-inherit,
html .ui-body-b .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
	background: #2766e1;
	border-color: #288bff; /*{a-bar-border}*/
	color: #248aaf /*{a-bar-color}*/;
	text-shadow: 1 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #eeeeee /*{a-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-b {
	border-width: 1.5px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-b,
.ui-page-theme-b,
.ui-page-theme-b .ui-panel-wrapper {
	
	background:#2766e1;
	border-color: #288bff; /*{a-page-border}*/
	color: #000000;
	text-shadow: 0 /*{a-page-shadow-x}*/ 1px /*{a-page-shadow-y}*/ 0 /*{a-page-shadow-radius}*/ #eeeeee /*{a-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-b,
.ui-page-theme-b .ui-body-inherit,
html .ui-bar-b .ui-body-inherit,
html .ui-body-b .ui-body-inherit,
html body .ui-group-theme-b .ui-body-inherit,
html .ui-panel-page-container-b {
	background:  #ccc;
	border-color: #eef5f9;
	color: #fff;
	text-shadow: 0;
}
.ui-body-b {
	border-width: 1px;
	border-style: solid;
	
}
/* Links */
.ui-page-theme-b a,
html .ui-bar-b a,
html .ui-body-b a,
html body .ui-group-theme-b a {
	color: #3388cc /*{b-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-b a:visited,
html .ui-bar-b a:visited,
html .ui-body-v a:visited,
html body .ui-group-theme-v a:visited {
    color: #83afd2 /*{a-link-visited}*/;
}
.ui-page-theme-b a:hover,
html .ui-bar-b a:hover,
html .ui-body-b a:hover,
html body .ui-group-theme-b a:hover {
	color: #ff9845 /*{a-link-hover}*/;
}
.ui-page-theme-b a:active,
html .ui-bar-b a:active,
html .ui-body-b a:active,
html body .ui-group-theme-b a:active {
	color: #005599 /*{a-link-active}*/;
}

/*================ customize 'B' theme BUTTONS here ============================*/


/* Button up */
.ui-page-theme-b .ui-btn,
html .ui-bar-b .ui-btn,
html .ui-body-b .ui-btn,
html body .ui-group-theme-b .ui-btn,
html head + body .ui-btn.ui-btn-b,
/* Button visited */
.ui-page-theme-b .ui-btn:visited,
html .ui-bar-b .ui-btn:visited,
html .ui-body-b .ui-btn:visited,
html body .ui-group-theme-b .ui-btn:visited,
html head + body .ui-btn.ui-btn-b:visited {
	background: url("../images/buttons/orangeBtn.png") no-repeat;
	border: none;
	background-size: 100% 100%;
	-webkit-box-shadow: -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
    -moz-box-shadow:    -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
    box-shadow:         -2px -2px 2px 0px rgba(36, 138, 175, 0.75);
	color: #fff;
	text-shadow: 0;
}
/* Button hover */
.ui-page-theme-b .ui-btn:hover,
html .ui-bar-b .ui-btn:hover,
html .ui-body-b .ui-btn:hover,
html body .ui-group-theme-b .ui-btn:hover,
html head + body .ui-btn.ui-btn-b:hover {
	/*background: #1cce99*/ /*{a-bhover-background-color}*/;
		background: url("../images/buttons/GreenBtnHover.png");
		background-size: 100% 100%;
		-webkit-box-shadow: -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
-moz-box-shadow:    -6px -4px 5px 0px rgba(255, 255, 255, 0.75);
box-shadow:         -6px -4px 5px 0px rgba(255, 255, 255, 0.75);

border: none;
	color: #fff;
	text-shadow: 0;
}
/* Button down */
.ui-page-theme-b .ui-btn:active,
html .ui-bar-b .ui-btn:active,
html .ui-body-b .ui-btn:active,
html body .ui-group-theme-b .ui-btn:active,
html head + body .ui-btn.ui-btn-b:active {
	/*background: #f85993 /*{a-bdown-background-color}*/;
	background: url("../images/buttons/GreenBtnHover.png");
		background-size: 100% 100%;
	border: none;
	color: #000; 
	text-shadow: none;
}

/* Active button */
.ui-page-theme-b .ui-btn.ui-btn-active,
html .ui-bar-b .ui-btn.ui-btn-active,
html .ui-body-b .ui-btn.ui-btn-active,
html body .ui-group-theme-b .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
/* Active flipswitch background */
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
	background-color: #1cce99 /*{a-active-background-color}*/;
	border-color: #ff9845 /*{a-active-border}*/;
	color: #ffffff /*{a-active-color}*/;
	text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #005599 /*{a-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-a .ui-radio-on:after,
html .ui-bar-a .ui-radio-on:after,
html .ui-body-a .ui-radio-on:after,
html body .ui-group-theme-a .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-a:after {
	border-color: #1cce99 /*{a-active-background-color}*/;
}
/* Focus */
.ui-page-theme-b .ui-btn:focus,
html .ui-bar-b .ui-btn:focus,
html .ui-body-b .ui-btn:focus,
html body .ui-group-theme-b .ui-btn:focus,
html head + body .ui-btn.ui-btn-b:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-b .ui-focus,
html .ui-bar-b .ui-focus,
html .ui-body-b .ui-focus,
html body .ui-group-theme-b .ui-focus,
html head + body .ui-btn-b.ui-focus,
html head + body .ui-body-b.ui-focus {
	-webkit-box-shadow: 0 0 12px #1cce99 /*{a-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #1cce99 /*{a-active-background-color}*/;
	box-shadow: 0 0 12px #1cce99 /*{a-active-background-color}*/;
}


/* C  ------------THEME-------- C -----------------------------------
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-c,
.ui-page-theme-c .ui-bar-inherit,
html .ui-bar-c .ui-bar-inherit,
html .ui-body-c .ui-bar-inherit,
html body .ui-group-theme-c .ui-bar-inherit {
	background: #e9e9e9 /*{c-bar-background-color}*/;
	border-color: #dddddd /*{c-bar-border}*/;
	color: #fff /*{c-bar-color}*/;
	text-shadow: 0 /*{c-bar-shadow-x}*/ 0 /*{c-bar-shadow-y}*/ 0 /*{c-bar-shadow-radius}*/ #eeeeee /*{c-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-c {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-c,
.ui-page-theme-c,
.ui-page-theme-c .ui-panel-wrapper {
	background: background: rgb(102,103,111); /* Old browsers */ background: -moz-linear-gradient(top, rgba(102,103,111,1) 0%, rgba(8,22,32,1) 47%, rgba(102,103,111,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,103,111,1)), color-stop(47%,rgba(8,22,32,1)), color-stop(100%,rgba(102,103,111,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(102,103,111,1) 0%,rgba(8,22,32,1) 47%,rgba(102,103,111,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(102,103,111,1) 0%,rgba(8,22,32,1) 47%,rgba(102,103,111,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(102,103,111,1) 0%,rgba(8,22,32,1) 47%,rgba(102,103,111,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(102,103,111,1) 0%,rgba(8,22,32,1) 47%,rgba(102,103,111,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66676f', endColorstr='#66676f',GradientType=0 ); /* IE6-9 */ /*{c-page-background-color}*/;
	
	border-color: #bbbbbb /*{c-page-border}*/;
	color: #1bce99 /*{c-page-color}*/;
	text-shadow: 0 /*{c-page-shadow-x}*/ 1px /*{c-page-shadow-y}*/ 0 /*{c-page-shadow-radius}*/ #f3f3f3 /*{c-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-c,
.ui-page-theme-c .ui-body-inherit,
html .ui-bar-c .ui-body-inherit,
html .ui-body-c .ui-body-inherit,
html body .ui-group-theme-c .ui-body-inherit,
html .ui-panel-page-container-c {
	background: #000; 
	border-color: #1bce99; 
	color: #fff;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #f3f3f3 /*{c-body-shadow-color}*/;
}


.ui-body-c {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-c a,
html .ui-bar-c a,
html .ui-body-c a,
html body .ui-group-theme-c a {
	color: #3388cc /*{c-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-c a:visited,
html .ui-bar-c a:visited,
html .ui-body-c a:visited,
html body .ui-group-theme-c a:visited {
    color: #3388cc /*{c-link-visited}*/;
}
.ui-page-theme-c a:hover,
html .ui-bar-c a:hover,
html .ui-body-c a:hover,
html body .ui-group-theme-c a:hover {
	color: #005599 /*{c-link-hover}*/;
}
.ui-page-theme-c a:active,
html .ui-bar-c a:active,
html .ui-body-c a:active,
html body .ui-group-theme-c a:active {
	color: #005599 /*{c-link-active}*/;
}
/* Button up */
.ui-page-theme-c .ui-btn,
html .ui-bar-c .ui-btn,
html .ui-body-c .ui-btn,
html body .ui-group-theme-c .ui-btn,
html head + body .ui-btn.ui-btn-c,
/* Button visited */
.ui-page-theme-c .ui-btn:visited,
html .ui-bar-c .ui-btn:visited,
html .ui-body-c .ui-btn:visited,
html body .ui-group-theme-c .ui-btn:visited,
html head + body .ui-btn.ui-btn-c:visited {
	background: #fff /*{c-bup-background-color}*/;
	border-color: #dddddd /*{c-bup-border}*/;
	color: #333333 /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #f3f3f3 /*{c-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-c .ui-btn:hover,
html .ui-bar-c .ui-btn:hover,
html .ui-body-c .ui-btn:hover,
html body .ui-group-theme-c .ui-btn:hover,
html head + body .ui-btn.ui-btn-c:hover {
	background: #1bce99 /*{c-bhover-background-color}*/;
	border-color: #dddddd /*{c-bhover-border}*/;
	color: #fff /*{c-bhover-color}*/;
	text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #f3f3f3 /*{c-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-c .ui-btn:active,
html .ui-bar-c .ui-btn:active,
html .ui-body-c .ui-btn:active,
html body .ui-group-theme-c .ui-btn:active,
html head + body .ui-btn.ui-btn-c:active {
	background: #1bce99 /*{c-bdown-background-color}*/;
	border-color: #dddddd /*{c-bdown-border}*/;
	color: #fff /*{c-bdown-color}*/;
	text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #f3f3f3 /*{c-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-c .ui-btn.ui-btn-active,
html .ui-bar-c .ui-btn.ui-btn-active,
html .ui-body-c .ui-btn.ui-btn-active,
html body .ui-group-theme-c .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-c.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-c .ui-checkbox-on:after,
html .ui-bar-c .ui-checkbox-on:after,
html .ui-body-c .ui-checkbox-on:after,
html body .ui-group-theme-c .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-c:after,
/* Active flipswitch background */
.ui-page-theme-c .ui-flipswitch-active,
html .ui-bar-c .ui-flipswitch-active,
html .ui-body-c .ui-flipswitch-active,
html body .ui-group-theme-c .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-c.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-c .ui-slider-track .ui-btn-active,
html .ui-bar-c .ui-slider-track .ui-btn-active,
html .ui-body-c .ui-slider-track .ui-btn-active,
html body .ui-group-theme-c .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-c .ui-btn-active {
	background-color: #3388cc /*{c-active-background-color}*/;
	border-color: #3388cc /*{c-active-border}*/;
	color: #ffffff /*{c-active-color}*/;
	text-shadow: 0 /*{c-active-shadow-x}*/ 1px /*{c-active-shadow-y}*/ 0 /*{c-active-shadow-radius}*/ #005599 /*{c-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-c .ui-radio-on:after,
html .ui-bar-c .ui-radio-on:after,
html .ui-body-c .ui-radio-on:after,
html body .ui-group-theme-c .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-c:after {
	border-color: #3388cc /*{c-active-background-color}*/;
}
/* Focus */
.ui-page-theme-c .ui-btn:focus,
html .ui-bar-c .ui-btn:focus,
html .ui-body-c .ui-btn:focus,
html body .ui-group-theme-c .ui-btn:focus,
html head + body .ui-btn.ui-btn-c:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-c .ui-focus,
html .ui-bar-c .ui-focus,
html .ui-body-c .ui-focus,
html body .ui-group-theme-c .ui-focus,
html head + body .ui-btn-c.ui-focus,
html head + body .ui-body-c.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{c-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{c-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{c-active-background-color}*/;
}


/* Structure */
/* Disabled
-----------------------------------------------------------------------------------------------------------*/
/* Class ui-disabled deprecated in 1.4. :disabled not supported by IE8 so we use [disabled] */
.ui-disabled,
.ui-state-disabled,
button[disabled],
.ui-select .ui-btn.ui-state-disabled {
	filter: Alpha(Opacity=30);
	opacity: .3;
	cursor: default !important;
	pointer-events: none;
}
/* Focus state outline
-----------------------------------------------------------------------------------------------------------*/
.ui-btn:focus,
.ui-btn.ui-focus {
	outline: 0;
}
/* Unset box-shadow in browsers that don't do it right */
.ui-noboxshadow .ui-shadow,
.ui-noboxshadow .ui-shadow-inset,
.ui-noboxshadow .ui-overlay-shadow,
.ui-noboxshadow .ui-shadow-icon.ui-btn:after,
.ui-noboxshadow .ui-shadow-icon .ui-btn:after,
.ui-noboxshadow .ui-focus,
.ui-noboxshadow .ui-btn:focus,
.ui-noboxshadow  input:focus,
.ui-noboxshadow .ui-panel {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.ui-noboxshadow .ui-btn:focus,
.ui-noboxshadow .ui-focus {
	outline-width: 1px;
	outline-style: auto;
}


/*============  Platform buttons for themes A,B,C ================ */
/*===== draggable platform widget ======= */
.ui-page-theme-a .ui-platform-widget,
html body .ui-body-a .ui-platform-widget,
html head + body .ui-platform-widget 
{
width: 50px;
height: 50px;
background: url("source/PNG/heart.png");
background-size: cover;
}

.ui-page-theme-b .ui-platform-widget,
html body .ui-body-b .ui-platform-widget,
html head + body .ui-platform-widget 
{
width: 50px;
height: 50px;
background: url("source/PNG/fighter-jet.png");
background-size: cover;
}

.ui-page-theme-c .ui-platform-widget,
html body .ui-body-c .ui-platform-widget,
html head + body .ui-platform-widget 
{
width: 50px;
height: 50px;
background: url("source/PNG/star.png");
background-size: cover;
}


.drag2{
width: 50px;
height: 50px;
background: url("source/PNG/heart.png");
background-size: cover;
}

.drag3{
width: 50px;
height: 50px;
background: url("source/PNG/fighter-jet.png");
background-size: cover;
}

.ui-page-theme-a .ui-addFold,
html body .ui-body-a .ui-addFold,
html head + body .ui-addFold 
 {

background: url("../images/buttons/platform/btn-addFolder-t-a.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-b .ui-addFold,
html body .ui-body-b .ui-addFold,
html head + body .ui-addFold {

background: url("../images/buttons/platform/btn-addFolder-t-c.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-c .ui-addFold,
html body .ui-body-c .ui-addFold,
html head + body .ui-addFold {

background: url("../images/buttons/platform/btn-addFolder-t-b.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

/* ====== addFolder ============ */
.ui-page-theme-a .ui-addFold,
html body .ui-body-a .ui-addFold,
html head + body .ui-addFold 
 {

background: url("../images/buttons/platform/btn-addFolder-t-a.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-b .ui-addFold,
html body .ui-body-b .ui-addFold,
html head + body .ui-addFold {

background: url("../images/buttons/platform/btn-addFolder-t-c.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-c .ui-addFold,
html body .ui-body-c .ui-addFold,
html head + body .ui-addFold {

background: url("../images/buttons/platform/btn-addFolder-t-b.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

/*===== addProfile ======*/

.ui-page-theme-a .ui-addProfile,
html body .ui-body-a .ui-addProfile,
html head + body .ui-addProfile 
 {

background: url("../images/buttons/platform/btn-profile-t-a.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-b .ui-addProfile,
html body .ui-body-b .ui-addProfile,
html head + body .ui-addProfile {

background: url("../images/buttons/platform/btn-profile-t-b.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-c .ui-addProfile,
html body .ui-body-c .ui-addProfile,
html head + body .ui-addProfile {

background: url("../images/buttons/platform/btn-profile-t-c.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}
/*===== addComments ======*/

.ui-page-theme-a .ui-addComments,
html body .ui-body-a .ui-addComments,
html head + body .ui-addComments 
 {

background: url("../images/buttons/platform/btn-comments-t-a.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-b .ui-addComments,
html body .ui-body-b .ui-addComments,
html head + body .ui-addComments {

background: url("../images/buttons/platform/btn-comments-t-b.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-c .ui-addComments,
html body .ui-body-c .ui-addComments,
html head + body .ui-addComments {

background: url("../images/buttons/platform/btn-comments-t-c.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}
/*===== vak ======*/

.ui-page-theme-a .ui-vak,
html body .ui-body-a .ui-vak,
html head + body .ui-vak 
 {

background: url("../images/buttons/platform/btn-vak-t-a.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-b .ui-vak,
html body .ui-body-b .ui-vak,
html head + body .ui-vak {

background: url("../images/buttons/platform/btn-vak-t-b.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-c .ui-vak,
html body .ui-body-c .ui-vak,
html head + body .ui-vak {

background: url("../images/buttons/platform/btn-vak-t-c.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}
/*===== messages ======*/

.ui-page-theme-a .ui-messages,
html body .ui-body-a .ui-messages,
html head + body .ui-messages 
 {

background: url("../images/buttons/platform/btn-messages-t-a.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-b .ui-messages,
html body .ui-body-b .ui-messages,
html head + body .ui-messages {

background: url("../images/buttons/platform/btn-messages-t-b.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-c .ui-messages,
html body .ui-body-c .ui-messages,
html head + body .ui-messages {

background: url("../images/buttons/platform/btn-messages-t-c.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}
/*===== myFolders ======*/

.ui-page-theme-a .ui-myFolders,
html body .ui-body-a .ui-myFolders,
html head + body .ui-myFolders 
 {

background: url("../images/buttons/platform/btn-meFolders-t-a.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-b .ui-myFolders,
html body .ui-body-b .ui-myFolders,
html head + body .ui-myFolders {

background: url("../images/buttons/platform/btn-meFolders-t-b.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-c .ui-myFolders,
html body .ui-body-c .ui-myFolders,
html head + body .ui-myFolders {

background: url("../images/buttons/platform/btn-meFolders-t-c.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}
/*===== publicFolders ======*/
			
.ui-page-theme-a .ui-publicFolders,
html body .ui-body-a .ui-publicFolders,
html head + body .ui-publicFolders 
 {

background: url("../images/buttons/platform/btn-publicFolders-t-a.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-b .ui-publicFolders,
html body .ui-body-b .ui-publicFolders,
html head + body .ui-publicFolders {

background: url("../images/buttons/platform/btn-publicFolders-t-b.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-c .ui-publicFolders,
html body .ui-body-c .ui-publicFolders,
html head + body .ui-publicFolders {

background: url("../images/buttons/platform/btn-publicFolders-t-c.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}
/*===== imagesBtn ======*/

.ui-page-theme-a .ui-imagesBtn,
html body .ui-body-a .ui-imagesBtn,
html head + body .ui-imagesBtn 
 {

background: url("../images/buttons/platform/btn-images-t-a.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-b .ui-imagesBtn,
html body .ui-body-b .ui-imagesBtn,
html head + body .ui-imagesBtn {

background: url("../images/buttons/platform/btn-images-t-b.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}

.ui-page-theme-c .ui-imagesBtn,
html body .ui-body-c .ui-imagesBtn,
html head + body .ui-imagesBtn {

background: url("../images/buttons/platform/btn-images-t-c.jpg");
background-size:95% 95%;
background-repeat:no-repeat;
}
/*=====  ======*/